<div (click)="onBackClick()" class="back-icon">
  <app-back-icon></app-back-icon>
</div>
<span class="overlay"></span>
<div class="container">
  <div class="side1">
    <h1 class="skill-header">ABOUT</h1>
    <app-dp-logo height="13rem" width="13rem" class="dp-logo"></app-dp-logo>
    <div class="text-container">
      <p>
        I'm Giri, Senior Software Engineer at CDK Global, a full-stack developer and a tech enthusiast & I love solving complex problems and building scalable applications.
        I am always open to collaborating on projects and innovative/disruptive ideas.
      </p>
      <br>
      <p>
        Most of my time into Java backend development with interest into developing Angular Apps
      </p>
      <br>
      <p>
        Apart from that, I work with product architects, Project analysts, Engineering Managers for product management,
        Mentors juniors and mid senior level members in my team
      </p>
    </div>
  </div>
  <div class="side2">
    <div class="skill-container">
      <h1 class="skill-header">
        Skills
      </h1>
      <div *ngFor="let skill of skills">
        <h4 class="skill-type">{{skill.type}}</h4>
        <h4 class="skill-names">{{skill.names.join(', ')}}</h4>
      </div>
    </div>
  </div>
</div>
